<div class="row">
  <div class="contaoner">
    <div class="col-md-6">
      <h5>Page rendering:</h5>
      {{page-iframe cor=model.collection}}
    </div>
    <div class="col-md-6">
      <h5>Extra data:</h5>
    </div>
  </div>

</div>
{{outlet}}
