<div class="jumbotron">
    <div class="form-group">
      <label for="exampleInputEmail1">Name:</label>
      <input  autocomplete="on" autofocus onkeyup={{action "correctName" }} id="user-name" type="text" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username:</label>
      <input autocomplete="on" type="email" class="form-control" id="user-surname" placeholder="Email">
      <div id="username-errors"></div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input autocomplete="on" type="email" class="form-control" id="user-email" placeholder="Email">
      <div id="email-errors"></div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input autocomplete="on" type="password" class="form-control" id="user-password" placeholder="Password">
      <div id="passowrd-errors"></div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Reinter Password</label>
      <input autocomplete="on" type="password" class="form-control" id="user-password" placeholder="Password">
      <div id="password-errors"></div>
    </div>
    <button type="submit" {{action "createUser"}} class="btn btn-primary">Submit</button>
</div>
